body {
    background-color: #f5efe6;
    font-family: "Georgia", serif;
    color: #3b2f2f;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 48px;
}

.nav-link {
    color: #fff8dc;
    text-decoration: none;
    font-weight: bold;
}

.intro {
    padding: 30px;
    text-align: center;
}

.intro img {
    width: 300px;
    border: 4px solid #3b2f2f;
    margin-top: 20px;
}

.content {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px;
    border: 2px solid #000000;
}

.media {
    padding: 30px;
    text-align: center;
}

.footer {
    background-color: #2b44b5;
    color: white;
    text-align: center;
    padding: 15px;
}
.history{
    text-align: center;
}
.japlink{
    font-size: 14px;
    color: #222ed2;
    text-decoration: none;
}